body, md-content, md-dialog-content, md-dialog {
    background-color: lightblue;
    text-align: center;
    padding: 5px;
}

.title {
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}

md-dialog {
    border-radius: 10px;
    padding: 20px;
}

.orbutton {
    background-color: rgba(0, 200, 0, 1);
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
    color: white;
    outline: none;
    padding: 20px 25px;
    text-align: center;
    transition-duration: 0.25s;
    cursor: pointer;
    margin: 10px 0px;
}

.orbutton:not([disabled]):hover {
    background-color: rgba(0, 0, 200, 1);
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
    color: white;
    outline: none;
    padding: 20px 25px;
    text-align: center;
}

.orbutton:not([disabled]):focus {
    background-color: rgba(0, 0, 200, 1);
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
    color: white;
    outline: none;
    padding: 20px 25px;
    text-align: center;
}

.orbutton[disabled] {
  background-color: rgba(0, 200, 0, 0.5);
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
  color: white;
  outline: none;
  padding: 20px 25px;
  text-align: center;
}

.libutton {
    background-color: rgba(0, 200, 0, 0.75);
    border: none;
    color: white;
    height: 60px;
    outline: none;
    margin: auto;
    width: 100%;
}

.libutton {
    background-color: rgba(0, 200, 0, 0.75);
    border: none;
    color: white;
    height: 60px;
    outline: none;
    margin: auto;
    width: 100%;
}



.libutton:not([disabled]):hover {
    background-color: rgba(0, 200, 0, 0.85);
    border: none;
    color: white;
    height: 60px;
    outline: none;
    margin: auto;
    width: 100%;
}

.libutton.left {
    border-radius: 5px 0px 0px 5px;
}

.libutton.left:not([disabled]):hover {
    border-radius: 5px 0px 0px 5px;
}

.libutton.middle {
    border-radius: 0px 0px 0px 0px;
}

.libutton.middle:not([disabled]):hover {
    border-radius: 0px 0px 0px 0px;
}

.libutton.right {
    border-radius: 0px 5px 5px 0px;
}

.libutton.right:not([disabled]):hover {
    border-radius: 0px 5px 5px 0px;
}

md-autocomplete {
    width: 50%;
    margin: auto;
}

input {
    background-color: rgba(200, 200, 200, 1);
    width: 30%;
}

.md-autocomplete-suggestions {
    background-color: red;
}

.temptable {
    width: 50%;
    margin: auto;
}

.temptable.index td {
    width: 33%;
    margin: auto;
}

.temptable.location td {
    width: 50%;
    margin: auto;
}

table {
    border-collapse: collapse;
    empty-cells: hide;
}

.listtable tr:nth-child(odd) {
    background-color: lightgreen;
}

td {
  height: 10%;
  padding: 10px 0px;
  max-width: 25%;
}

th {
    height: 10%;
    padding: 0px;
    max-width: 25%;
}
