<!doctype html>
<html ng-app="location">
   <head>
     <title>WeatherApp</title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.js"></script>
     <script src="location.js"></script>
   </head>
   <body>
     <md-dialog>
       <md-dialog-content ng-cloak>
         <div layout="row">
           <h2>Add a temperature observation</h2>
             <md-content>
               <form ng-submit="$event.preventDefault()" name="tempAddField">
                   <md-input-container>
                     <input type="number" placeholder="Temperature (C)" md-no-float="false"/>
                   </md-input-container>
                   <md-dialog-actions>
                     <md-button type="button" ng-click="cancel()">CANCEL</md-button>
                     <md-button ng-click="finish($event)" ng-disabled="tempAddField.$invalid || tempAddField.$pristine">ADD</md-button>
                   </md-dialog-actions>
               </form>
             </md-content>
         </div>
       </md-dialog-content>
     </md-dialog>
   </body>
</html>
