<!doctype html>
<html ng-app="location">
   <head>
     <title>WeatherApp</title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.js"></script>
     <script src="location.js"></script>
   </head>
   <body>
     <md-dialog>
       <md-dialog-content ng-cloak>
         <div>
           <h2 class="title">Add a temperature observation</h2>
             <md-content>
               <form ng-submit="$event.preventDefault()">
                 <div ng-controller="SubmitTemp">
                     <md-input-container>
                       <label id="templabel" for="temperature">Temperature (°C)</label>
                       <input type="number" name="temperature" ng-model="observation.temperature"/>
                     </md-input-container>
                     <md-dialog-actions align="center">
                       <md-button class="orbutton" ng-click="cancel()">CANCEL</md-button>
                       <md-button class="orbutton" ng-click="submitObservation() && finish($event)">ADD</md-button>
                     </md-dialog-actions>
                 </div>
               </form>
             </md-content>
         </div>
       </md-dialog-content>
     </md-dialog>
   </body>
</html>
